*.pyc
.env
.idea
credentials.json
token.json
summarize/summaries/*
summarize/contexts/*
summarize/veracity_checks/*
summaries/*
contexts/*
summarize/veracity/*
summarize/preliminary/*
dumps/*
*.json*
*.png
*.pq
*.parquet
.DS_Store
.python-version
100/*
