<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>{% block title %}LitScan chatGPT summaries{% endblock %}</title>

        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
            <script type="text/javascript">
                function send_feedback(feedback) {
                    $.ajax({
                            type: 'post',
                            url: '{{url_for("save_single_feedback")}}',
                            data: JSON.stringify(feedback),
                            contentType: "application/json",
                            dataType: 'json',
                            complete: function(result){
                                console.log("Submitted feedback ok");
                                console.log(result);
                                window.location.href = result.responseText;
                            }
                        });
                    }
            </script>

            <script type="text/javascript">
                function reset_seen_list(){
                    $.get({url:'{{url_for("reset_seen")}}'},
                    function(result){
                        console.log("List of seend IDs reset");
                        window.location.href = result;
                    });
                }
            </script>

            <script type="text/javascript">
                function start_review(){
                    let name = document.getElementById("name");
                    document.cookie = `name=${name.value}`;

                    let startID = document.getElementById("startID");
                    if (startID.value.length > 0) {
                        console.log(startID.value);
                        console.log(`seen_ids=${parseInt(startID.value)-1}`)
                        document.cookie = `seen_ids=${parseInt(startID.value)-1}`;
                    }


                    let url='{{url_for("present_single_summary")}}';
                    window.location.replace(url);
                }
            </script>

            <script type="text/javascript">
                window.onload = function(){
                    let element = document.getElementById("name")
                    if (element) {
                        element.value = document.cookie.split("name=")[1] ? document.cookie.split("name=")[1].split(";")[0] : "";
                    }
                }
            </script>
        {% endblock %}
    </body>
</html>
